/************************************
*           HTML tags               *
*************************************/

body { background-color: rgb(204, 204, 204); }

/*    General icon style    */
i {
    text-align: center;
    color: white;
    width: 40px;
    height: 40px;
}

/*    General link style    */
a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

/*    Titles style    */
h1 {
    text-align: center;
    margin: auto;
    width: 60%;
}

/*    General figure style    */
.figure { margin: 10px; }


/************************************
*             Classes               *
*************************************/

/*    Top banner    */
.header {
    margin: -8px;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 25% auto;
}

/*    Top banner buttons    */
.top_item {
    width: 20%;
    height: 100%;
    float: left;
}

/*    Page title style     */
.page_title {
    font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

/*    Link style of top banner buttons    */
.top_button:link, .top_button:visited, .top_button:active {
    color: gold;
    text-decoration: none;
    background: black;
    min-width: 140px;
    display: flex;
    text-align: center;
}

.top_button:hover {
    background-color: blue;
    color: rgb(224, 199, 54);
    text-decoration: none;
}

.options_menu {
    background: black;
    top: 170px;
    height: 100px;
    width: 50%;
    padding: 0;
    list-style: none;
    display: none;
    position: absolute;

}

/*    Top buttons container style    */
.menu {
    margin: 0;
    padding: 0;
    font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    font-size: x-large;
    list-style-type: none;
    display: block;
}

/*    Style of the container of registration and login pop-ups    */
.overlay {
    overflow: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    padding: 50px;
    color: black;
} 

/*    Actions to take when overlay is targeted    */
.overlay:target {
    visibility: visible;
    opacity: 1;
}

/*    Close pop-up    */
.close_popup {
    float: right;
    color: black;
    width: 10%;
}

/*    Style for all input fields    */
.input_field {
    border-radius: 5px;
}

/*    Asterisk for compulsory fields    */
.compulsory {
    color: red;
    font-size: 10px;
}

.bottom_button {
	width: 49%;
	height: 50px;
	border-color: lightgreen;
	border-radius: 10px;
	background: palegreen;
	color: darkblue;
	font-family: "Arial";
	font-size: xx-large;
}

/*    Style of drop-down list menu    */
#drop_down_button {
    font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    display: none;
    text-decoration: none;
    color: rgb(224, 199, 54);
    background: black;
    text-align: center;
    padding: 7px 0;
}

/*    Style of drop-down list menu when logged in   */
#drop_down_button_when_loggedin {
    font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    text-decoration: none;
    display: none;
    color: rgb(224, 199, 54);
    background: black;
    cursor: pointer;
    text-align: center;
    padding: 7px 0;
    position: relative;
    font-size: xxx-large;
}

/*    Map styles    */
.mapDiv{ text-align: center; }

#img_perf{display: none;}


#login_anonymous{
    height:100%;
}

#register_anonymous{
    height:100%;
}
/*
.regId{
    visibility: block;
}

.logId{
    visibility: block;
}
*/
.map {
    border: rgb(0, 0, 0);
    border-style: solid;
    border-width: 1%;
}

/*    Search set style    */
.searcher { grid-template-columns: 50% auto; }

/*    Third section (experiences)    */
.experiencesDiv {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    flex-flow: column nowrap;
    flex-flow: row nowrap;
}

.img_figure{
    height: auto;
}

/*    Experiences columns    */
.column {
    display: grid;
    grid-row-gap: 50px;
}

#column1,
#column2,
#column3{
    flex-flow:row nowrap;
}

#options{
    display: none;
}

#prof_button,
#logout_button,
#experiences_button{
    width: 30%;
    color: white;
    padding-top: 40px;
    text-align: center;
    cursor: pointer;
}

.user_options_text {
    color: white;
    text-align: center;
    
}

#logout_popup { visibility: hidden;}

#profile_container{
    display: none;
}


#profile_img {
    width: 35%;
    padding-top: 5%;
}


#profile_name{
    color: floralwhite;
}

/*    Individual images style */    
.img_exp { width:16vw; }

/*   Destinations descriptions    */
.description {
    margin: auto;
    width: 60%;
    font-size: 25px;
    font-family: sans-serif;
}

/*    Description paragraph to the left    */
.paraLeft{ 
    text-align: left;
    width:80%; 
}

/*    Description paragraph to the right    */
.paraRight{
    text-align:right;
    padding-left:20%;
}

/*    Destination main image    */
.welcome_image {
    margin-top: 5%;
    width:100%;
}

/*    Destination images and videos    */
.secondSection{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align:center;
    align-items: center;
    margin-bottom: 50px;
 }

/*    Experiences image    */
.photo{ width:80%; }

/*    Bottom banner    */
.footer {
    background-color: darkslategrey;
    color: white;
    margin: -8px;
    padding-left: 5%;
}

/*    Social networks area    */
.social {
    display: flex;
    align-items: center;
}

/*    List of social networks available for sharing    */
.social_networks {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/*    Elements of social networks list    */
.social_networks li {
    margin-right: 20%;
    font-size: 200%;
}



.menu_profile {
    /*display: block;*/
    display: none;
    cursor: pointer;
    position: relative;
    margin-left: 40%;
    padding-right: 10%;
    font-size: xxx-large;
}

/*    Site-related information    */
.more_info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*    Style of link list    */
.more_info ul{
    list-style-type: none;
    padding: 0;   
}

/*    Style of link list elements    */
.more_info ul li{
   margin: 0 0 20px;
}

/*    Hover effects on footer links    */
.fa-facebook-f:hover{ color: rgb(3, 40, 61);     }
.fa-instagram:hover { color: rgb(224, 168, 206); }
.fa-twitter:hover   { color: rgb(68, 191, 207);  }
.footer_text:hover  { color: rgb(189, 180, 99);  }


/************************************
*       Individual elements         *
*************************************/

/*    Hide checkbox that controls whether drop-down is expanded    */
#drop_down_switch { display: none; }



/*    Applies to condensed menu: when 'MENU' button clicked on: show options    */
#drop_down_switch:checked ~ .menu { display: block; }



/*    More-information footer container    */
#more { display: flex; }

/*    Log in pop-up style    */
.popup_body {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    background: wheat;
    padding: 20px;
}

/*    Log in pop-up style    */
#login_body {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    background: wheat;
    padding: 20px;
}

/*    Register pop-up style    */
#register_body {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    overflow: scroll;
    background: wheat;
    padding: 20px 20px 0 20px;
}

#pop_up_exp {
    width:30vw;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    overflow: scroll;
    background: wheat;
}

/*    Style for map title (first section)    */
#map_title {
    font-family: Arial, Verdana;
    font-weight: bolder;
    font-size: 150%;
}

/*    Second section style    */
#searchDiv {
    text-align: center;
    margin-left: 33%;
    width: 33%;
}

/*    Particularities of experiences columns    */
#column1 { padding-top: 70px; }
#column3 { padding-top: 100px; }


/************************************
*           Media rules             *
*************************************/

@media only screen and (max-width:1120px) {

    /*    Top banner new distribution    */
    .header { grid-template-columns: 25% 30% auto; }
    
    /*    Default behavior of condensed menu    */
    .menu {
        display: none;
        position: absolute;
        margin-left: 65%;
        margin-top: 120px;
    }
    
    /*    Drop-down elements style*/
    .top_item { width: 100%; }

    /*    Drop-down label style    */
    #drop_down_button {
        display: block;
        cursor: pointer;
        position: relative;
        margin-left: 40%;
        padding-right: 10%;
        font-size: xxx-large;
    }
    /*    Link style of drop-down menu buttons    */
    .top_button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (max-width:768px) {
    .experiencesDiv {
        grid-template-columns: auto;
    }

    .mapDiv {
        transform: scale(0.5);
        margin-top: -28%;
        margin-left: -28%;
        margin-bottom: -28%;
        position: relative;
        z-index: -1;
    }
    
    .desplegable { z-index: 0; }

    .img_exp { width: 26vw; }
    
}

@media only screen and (max-width:600px) {
    .mapDiv {
        transform: scale(0.35);
        margin-top: -45%;
        margin-left: -45%;
        margin-bottom: -45%;
    }

    .img_exp { width: 46vw; }
} 


@media only screen and (max-width: 1320px) {
    .secondSection {
        grid-template-columns: auto auto auto;
    }
}
@media only screen and (max-width: 768px) {
    .secondSection{
        grid-template-columns: auto;
    }

    .paraLeft {
        margin: auto;
        margin-top: 10%;
        text-align: center;
        padding: 0%;
    }

    .paraRight {
        margin: auto;
        margin-top: 10%;
        text-align: center;
        padding: 0%;

    }
}

@media only screen and (max-width: 600px) {
    .description {
        font-size: 15px;
    }

}
