.header{
   background-color: black;
   color: white;
   display: grid;
   position: fixed;
   width: 100%;
   margin: -8px;
   grid-template-columns: auto 30% 50% auto auto;
   grid-template-rows: 2.4cm;
}

.description{
    line-height:150%;
    font-size: 22px;
    font-family: Georgia, Copperplate, Fantasy;
    width: 75%;
}

.paraLeft{
    text-align:left;
    width:80%;
}
.paraRight{
    text-align:right;
    padding-left:20%
    
}
.photo{
    max-width:50%;
}

#welcome_image {
	margin-top: 5%;
    width:100%;
}

#secondSection{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 2cm;
   text-align:center;
}

h1 {
    text-align:center;
}

li {
    display:inline;
}

.fuente {
	font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    vertical-align: auto;
    font-size:x-large;
}

ul{
	list-style-type:none;
    display: flex;
    align-items: center;

}
a:link, a:visited, a:active {
    color: gold;
    text-decoration: none;
}
li {
    float:left;
	margin-left: 5%;
	background: black;
}
