.header{
    margin: -8px;
    position: fixed;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 25% auto;
}

.footer{
    width: 100%;
    background-color: darkslategrey;
}

.fuente {
	margin: 0;
    padding: 0;
	font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    font-size:x-large;
	list-style-type:none;
}

.top_button:link, .top_button:visited, .top_button:active {
    color: gold;
    text-decoration: none;
	background: black;
}

.top_button:hover {
    background-color: blue;
    text-decoration: none;
}

.description {
    font-size: 25px;
    font-family: sans-serif;
}
.paraLeft{
    width:80%;
}
.paraRight{
    text-align:right;
    padding-left:20%
    
}
.photo{
    max-width:50%;
}

#welcome_image {
	margin-top: 5%;
    width:100%;
}

#page_title {
    line-height: 200%;
    font-family: "Arial black";
    font-size: 150%;
    color: white;
}

#secondSection{
   display: grid;
   grid-template-columns: 50% 50%;
   text-align:center;
}

h1 {
    text-align:center;
}

.social_networks {
    display:flex;
    align-items:center;
	list-style-type:none;

}
.top_item{
    width: 20%;
    height: 100%;
    float: left;
    }
    
.social_icon {
    margin-left: 20%;
    float: left;
}

i {
    text-align: center;
    color: white;
    width: 40px;
    height: 40px;
}

a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.social {
    align-items: center;
    display: flex;
    font-size: 200%;
}
