.header{
    margin: -8px;
    position: fixed;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 25% auto;
}

.fuente {
	font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    font-size:x-large;
}

.top_button:link, .top_button:visited, .top_button:active {
    color: gold;
    text-decoration: none;
	background: black;
}

.top_button:hover {
    background-color: blue;
    text-decoration: none;
}

.description {
    font-size: 25px;
    font-family: sans-serif;
}
.paraLeft{
    width:80%;
}
.paraRight{
    text-align:right;
    padding-left:20%
    
}
.photo{
    max-width:50%;
}

#welcome_image {
	margin-top: 5%;
    width:100%;
}

#page_title {
    line-height: 200%;
    font-family: "Arial black";
    font-size: 150%;
    color: white;
}

#secondSection{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 2cm;
   text-align:center;
}

h1 {
    text-align:center;
}

ul{
	margin: 0;
    padding: 0;
	list-style-type:none;

}

li {
    width: 20%;
    height: 100%;
    float: left;
}

a {
    height: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}