.header{
    margin: -8px;
    position: fixed;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 10% 25% auto;
}

.top_item{
    width: 20%;
    height: 100%;
    float: left;
}

.top_button:link, .top_button:visited, .top_button:active {
    color: gold;
    text-decoration: none;
    background: black;
}

.top_button:hover {
    background-color: blue;
    color: rgb(224, 199, 54);
    text-decoration: none;
}

.fuente {
    margin: 0;
    padding: 0;
    font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    font-size: x-large;
    list-style-type: none;
}

.footer{
    background-color: darkslategrey;
    margin: -8px;
}

.social {
    display: flex;
    align-items: center;
}

.social_networks {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.social_icon {
    margin-left: 20%;
    font-size: 200%;
}

.enlaces {
    float: right;
}
i {
    text-align: center;
    color: white;
    width: 40px;
    height: 40px;
}

a {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
