.header{
    margin: -8px;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 10% 30% auto;
    grid-template-rows: 2.4cm;
}

.footer{
    width: 100%;
    background-color: darkslategrey;
}

.fuente {
	font-family: 'Letric PERSONAL USE ONLY', sans-serif;
    vertical-align: auto;
    font-size:x-large;
}

.mapDiv{
    text-align: center;
    margin-top: 5%;
}
.searcher{
    grid-template-columns: 50% auto;
}
.experiencesDiv {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.column {
    display: grid;
    grid-row-gap: 50px;
}

.img_exp {
    width:16vw;
}

#searchDiv {
    text-align: center;
    margin-left: 33%;
    width: 33%;
}
#column1 {
    padding-top: 70px;
}
#column3 {
    padding-top: 100px;
}

ul{
	list-style-type:none;
    display: flex;
    align-items: center;

}
a:link, a:visited, a:active {
    color: gold;
    text-decoration: none;
}
li {
    float:left;
	margin-left: 5%;
	background: black;
}

.social {
    align-items: center;
    display: flex;
    font-size: 200%;
}

.enlaces {
    float: right;
}

